<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DA.Properties.Settings>
            <setting name="AlmedDataConnection" serializeAs="String">
                <value>Server=192.168.1.40\WAVESOFT;Database=almed;User Id=NADIR; Password=NADIR@2017</value>
            </setting>
            <setting name="AccessConnexionString" serializeAs="String">
                <value />
            </setting>
        </DA.Properties.Settings>
    </applicationSettings>
</configuration>